APP_URL="MY_APP_URL"
TMDB_API_KEY="YOUR_TMDB_API_KEY"
XMASDB_DATA_DIR=/app/data
XMASDB_ADMIN_PASSWORD=
XMASDB_SESSION_SECRET=
XMASDB_GITHUB_TOKEN=
XMASDB_GITHUB_OWNER=WesTIChU
XMASDB_GITHUB_REPO=xmasdb.com
XMASDB_GITHUB_BRANCH=main
XMASDB_FEED_RATE_LIMIT=60
